html,
body {
  background-color: #f7f0e6;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas: "s1 c c c c c c c";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.side1 {
  grid-area: s1;
  background-color: aquamarine;
  outline: solid;
  outline-color: azure;
  outline-width: thin;
  /* background-image: url(); */
}

.content {
  grid-area: c;
  outline: solid;
  outline-color: azure;
  outline-width: thin;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #325343;
  color: white;
  outline: solid;
  outline-color: azure;
  outline-width: thin;
}

.header-buttons {
  display: flex;
  margin-left: auto;
  color: aliceblue;
}

.header-buttons button {
  margin-right: 10px;
  color: aliceblue;
}

.title-h1 {
  cursor: pointer;
}

.my-button {
  margin-right: 8px;
  background-color: red;
  border-width: 1px;
  border-color: #f7f0e6;
  border-style: solid;
  cursor: default;
  /* Other default styles */
}

.my-button.active {
  background-color: aqua;
  border-width: 2px;
  cursor: pointer;
  border-radius: 20px;
  /* Other styles for active state */
}

.my-button.active:hover {
  background-color: skyblue;
  /* Other styles for hover state */
}
