html,
body {
  background-color: lightgray;
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-areas: "s1 c c c c c c c";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.side1 {
  grid-area: s1;
  background-color: #53a8ce;
}

.content {
  grid-area: c;
  background-color: lightgray;
}

.side2 {
  grid-area: s2;
  background-color: #20252d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  color: white;
}

.header-buttons {
  display: flex;
  margin-left: auto;
  color: aliceblue;
}

.header-buttons button {
  margin-right: 10px;
  color: aliceblue;
}
